---
- hosts: localhost

  tasks:
    - name: Create directory for kubeconfig files
      ansible.builtin.file:
        path: "{{ k8s_encryption_config_directory }}"
        owner: "{{ k8s_encryption_config_owner }}"
        group: "{{ k8s_encryption_config_group }}"
        mode: "{{ k8s_encryption_config_directory_perm }}"
        state: directory
      tags:
        - k8s-encrypt-conf

    - name: Create encryption config file
      ansible.builtin.template:
        src: "templates/encryption-config.yaml.j2"
        dest: "{{ k8s_encryption_config_directory }}/encryption-config.yaml"
        mode: 0600
      tags:
        - k8s-encrypt-conf

    - name: Set file permissions
      ansible.builtin.file:
        path: "{{ k8s_encryption_config_directory }}/encryption-config.yaml"
        owner: "{{ k8s_encryption_config_owner }}"
        group: "{{ k8s_encryption_config_group }}"
        mode: '{{ k8s_encryption_config_file_perm }}'
        modification_time: "preserve"
        access_time: "preserve"
      tags:
        - k8s-encrypt-conf
