---
- name: Create hcloud-csi secret
  k8s:
    state: present
    definition: "{{ lookup('template', 'templates/secret.yml.j2') | from_yaml }}"
  delegate_to: localhost
  tags:
    - install-secret

- name: Install CSIDriver CRD
  k8s:
    state: present
    definition: "{{ lookup('template', 'templates/csidriver-crd.yml.j2') | from_yaml }}"
  delegate_to: localhost
  tags:
    - install-csidriver-crd

- name: Install StorageClass
  k8s:
    state: present
    definition: "{{ lookup('template', 'templates/storageclass.yml.j2') | from_yaml }}"
  delegate_to: localhost
  tags:
    - install-storageclass

- name: Install ServiceAccount
  k8s:
    state: present
    definition: "{{ lookup('template', 'templates/serviceaccount.yml.j2') | from_yaml }}"
  delegate_to: localhost
  tags:
    - install-serviceaccount

- name: Install ClusterRole
  k8s:
    state: present
    definition: "{{ lookup('template', 'templates/clusterrole.yml.j2') | from_yaml }}"
  delegate_to: localhost
  tags:
    - install-clusterrole

- name: Install ClusterRoleBinding
  k8s:
    state: present
    definition: "{{ lookup('template', 'templates/clusterrolebinding.yml.j2') | from_yaml }}"
  delegate_to: localhost
  tags:
    - install-clusterrolebinding

- name: Install StatefulSet
  k8s:
    state: present
    definition: "{{ lookup('template', 'templates/statefulset.yml.j2') | from_yaml }}"
  delegate_to: localhost
  tags:
    - install-statefulset

- name: Install DaemonSet
  k8s:
    state: present
    definition: "{{ lookup('template', 'templates/daemonset.yml.j2') | from_yaml }}"
  delegate_to: localhost
  tags:
    - install-daemonset

- name: Install Service for controller metrics
  k8s:
    state: present
    definition: "{{ lookup('template', 'templates/service-controller-metrics.yml.j2') | from_yaml }}"
  delegate_to: localhost
  tags:
    - install-service-controller-metrics
